@charset "utf-8";

/* タブレットサイズ以下の調整 */
@media (max-width: 768px) {
    .profile_table {
        font-size: larger;
    }

    .skills-card {
        flex: 1 1 calc(50% - 10px); /* タブレットでも2列表示を維持 */
    }

    .products-card {
        flex: 1 1 100%; /* タブレットでも1列表示を維持 */
    }

    .header {
        flex-direction: column; /* ヘッダー内要素を縦方向に配置 */
        align-items: center;
        padding: 15px;
        height: 80px;
    }

    .header-right {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}

/* スマートフォンサイズ以下の調整 */
@media (max-width: 480px) {
    .profile_table {
        font-size: large;
    }

    .skills-card {
        flex: 1 1 100%; /* スマートフォンでは1列表示に */
    }

    .products-card {
        flex: 1 1 100%; /* スマートフォンでも1列表示を維持 */
    }

    .header {
        padding: 15px;
        height: 130px;
    }

    .header-right a {
        font-size: 14px; /* スマートフォンではフォントサイズを小さく */
    }
}

@media (max-width: 320px) {
    .top-title {
        font-size: 30px;
    }

    .profile_table {
        font-size: large;
    }

    .skills-card {
        flex: 1 1 100%; /* スマートフォンでは1列表示に */
    }

    .products-card {
        flex: 1 1 100%; /* スマートフォンでも1列表示を維持 */
    }

    .header {
        padding: 15px;
        height: 130px;
    }

    .header-right a {
        font-size: 14px; /* スマートフォンではフォントサイズを小さく */
    }
}
