@charset "uft-8";
@media (max-width: 1024px){
    .main-visual{
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .top-title{
        font-size: 60px;
    }

    .skills-card{
        width: 50%;
    }

    .products-card{
        width: 50%;
    }
}

@media (max-width: 670px){
    .header-left{
        display: none;
    }

    .header-right{
        float: none;
        text-align: center;
    }

    .header-right a{
        font-size: 14px;
    }

    .skills-card{
        width: 100%;
    }

    .skills-title{
        font-size: 14px;
    }

    .products-card{
        width: 100%;
    }
}

@media (max-width: 380px){
    .header-left{
        display: none;
    }

    .header-right{
        float: none;
        text-align: center;
    }

    .header-right a{
        font-size: 12px;
    }

    .skills-card{
        width: 100%;
    }

    .skills-title{
        font-size: 10px;
    }

    .products-card{
        width: 100%;
    }
}