@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.header{
    height: 56px;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    background-color: black;
    position: fixed;
    top: 0;
}

.header-left{
    float: left;
}

.header-right{
    float: right;
}

.clear{
    clear: both;
}

.header-logo{
    height: 40px;
    margin-top: 8px;
}

.header-right a{
    line-height: 56px;
    color: #e2f1ff;
    margin-left: 5px;
    font-size: 16px;
    padding: 16px 5px;
}

.header-right a:hover{
    background-color: #e2f1ff;
    transition: background-color 0.5s;
}

.container{
    max-width: auto;
    padding: 0 70px;
    margin-left: auto;
    margin-right: auto;
}

.skills{
    padding: 90px 0 60px;
    color: #5a5c5f;
}

.skills-card{
    width: 33%;
    margin-top: 35px;
}

.skills-card-inner{
    padding: 25px 30px;
    background-color: #dbe0e4;
    border-radius: 7px;
    box-shadow: 10px 10px 20px #d2d4d6;
    text-align: center;
    margin: 0 20px;
}

.skills-image{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.skills-title{
    margin-bottom: 8px;
}

.skills-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.footer{
    height: 120px;
    background-color: #2f3a44;
    color: #e8e8e8;
    padding-top: 20px;
}

.footer-left{
    float: left;
}

.footer-right{
    float: right;
    padding-top: 50px;
}